.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			%a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{:href => '/'} Project name
			.nav-collapse
				%ul.nav
					%li
						%a{:href => '/'}Home
					%li
						%a{:href => '/about'}About
					%li
						%a{:href => '/register'}Register
					%li
						%a{:href => '/contact'}Contact
				%p.navbar-text.pull-right
					-if logged_in?
						%a{:href => "/user/" << @user.user_name.to_s << "/dashboard"} #{@user.user_name} 
						Dashboard
						|
						%a{:href => "/logout" } Logout
						
					-else 
						%a{:href => '/login'} Login