.content
	.container
		.row
			.span12
				%form{ :action => "/register", :method => "post"}
					%h1= 'Register'
					%small= 'and start swapping books now'
					%p Name:
					%input.form-input{ :name => "user_name", :type => "text", :size => "30"}
					%p Password:
					%input.form-input{ :name => "password", :type => "password", :size => "30"}
					%p Email:
					%input.form-input{ :name => "email", :type => "text", :size => "30"}
					%br
					%br
					%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}
		  